<!DOCTYPE html>

<!--
	Това е демо-шаблон на първото домашно задание по ОКГ.
	Вижте коментарите във файла, за да видите къде да променяте.
	
	Показване/скриване на рамката става с натискане на клавиш
	или с кликване на миши бутон.
-->
	
<html>
	<head>
		<script src="three.min.js"></script>
		<script src="hangul.js"></script>
	</head>
	
	<body onload="main()">
		<!-- В тага h1 си напишете факултетния номер, групата в Мудъл и двете си имена -->
		<h1>ф.н. 99999 &ndash; група 9 &ndash; Малкоимен Фамилиев</h1>

		<!-- В този script таг напишете кода за създаване на
		думата, изписана на хангъл. Кодът по-долу е примерен.
		Махнете го и сложете вашия код на негово място. -->
		<script>
			// Елементите, които създавате, ги включвайте в
			// обекта word, създаден наготово в hangul.js.
			// Кодът по-долу прави две плочки на местата на
			// двата глифа от думата.
			
			// Създаваме си материал за елементите - добре е
			// да не е прекалено ярък или тъмен.
			var material = new THREE.MeshPhongMaterial({color:'gray',shininess:100});
			
			// Дефинираме елементите на първия глиф
			var cube1 = new THREE.Mesh( new THREE.BoxGeometry(18,18,6), material );
			cube1.position.set(-10,0,0);
			
			// Добавяме ги към обекта word (името е фиксирано).
			word.add( cube1 );
			
			// Дефинираме елементите на втория глиф
			var cube1 = new THREE.Mesh( new THREE.BoxGeometry(18,2,6), material );
			cube1.position.set(10,7,0);
			cube1.rotation.z = Math.random()-0.5;
			var cube2 = new THREE.Mesh( new THREE.BoxGeometry(18,3,6), material );
			cube2.position.set(10,1,0);
			cube2.rotation.z = Math.random()-0.5;
			var cube3 = new THREE.Mesh( new THREE.BoxGeometry(18,4,6), material );
			cube3.position.set(10,-5,0);
			cube3.rotation.z = Math.random()-0.5;
			
			// Добавяме ги към отново към обекта word.
			word.add( cube1, cube2, cube3 );

			// Файлът hangul.js се грижи да нарисува земята,
			// да нарисува обекта word (с каквото пъхнете в
			// него) и да показва/скрива рамката.
			
			// При правенето на глифовете, може да ги правите
			// в някакъв друг мащаб или положение, но накрая
			// с мащабиране и транслация ги направете да са
			// в почти целия обем, определен от рамката.
		</script>
	</body>
</html>